html{

}
.hide{
	display: none;
}
#mainwrapper{
	/*background-color: rgb(250,250,250);*/
	padding:20px;
	width:60%;
	margin:0 auto;
	margin-bottom:100px;

}

.fullimage{
	width:100%;
}
.halfimage{
	width:100%;
}

.longimage{
	flex-basis: 40%;
	width:40%;
	height:40%;
	padding-left:25px;
	padding-top: 20px;
	padding-bottom:25px;
}

.longimagetext{
	flex-basis:60%;
	
}

.innerimage{
	width:100%;
	height:100%;
}
.imageref{
font-size: 0.9em;

}

.lane{
	width:100%;
}

#past{
	width:100%;
}

#present{
	width:100%;
}

#future{
	width:100%;
}

#nav{
 width: 100%;
 height: 60px;
 margin: 0 auto;
}

.navchild{
width:33.33%;
background-color: #202020;
color:white;
float:left; 
text-align: center;
border:none;
font-size: 1em;

}

.heading{
	margin-top:100px;
}

.navchild:active {
	background-color: white;
	color: rgb(0,0,76);
}


#pasttitle{
	width:100%;
}

#pastone{
	width:100%;


}
.flex{
	display: flex;
	justify-content: space-between;
}

.child{
flex-basis: 48%;
margin:10px;
}

#pastone{
	width:100%;
	display: flex;
}

#presentone{
	width:100%;
	margin-top:10px;
	display: flex;
}

#pastthree{
	width: 100%;
}

#pastfour{
	
}

h1{
	font-family: 'Oswald', sans-serif;

}

h2{
	font-family: 'Oswald', sans-serif;
}

h3{
	font-family: 'Oswald', sans-serif;
}
h4{
	font-family: 'Oswald', sans-serif;	
}

p{
	font-family: 'Roboto Condensed', sans-serif;
		text-align: justify;
}


#titleimg{
	width:100%;
	height:100%;
	position: relative;
}

#titleimage{
	width:100%;
}

#text {
	font-size:5em;
	text-align: center;
	color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:700px;
}
 #subtitle{
 	font-size: 0.7em;
 }



img{

}

@media (max-width: 1200px){

	#mainwrapper{
		width:90%;
	}
}

@media (max-width: 800px){

#text{
	font-size: 3.5em;
}
}

@media (max-width: 600px){

#text{
	font-size: 2.5em;
}

h3{
	font-size: 1.5em;
}
}