html{

}

#mainwrapper{
	/*background-color: rgb(250,250,250);*/
	padding:20px;
	width:90%;
	margin:0 auto;

}

#past{
	width:100%;
}

#present{
	width:100%;
	display: none;
}

#future{
	width:100%;
	display: none;
}

#nav{
 width: 100%;
 height: 100px;
 margin: 0 auto;
}

.navchild{
width:33.33%;
background-color: rgb(0,0,76);
color:white;
float:left; 
text-align: center;
}

#pasttitle{
	width:100%;
}

#pastone{
	width:100%;
	text-align: justify;

}

#pasttwo{
	width:100%;
}

#pastthree{
	width: 50%;
}

#pastfour{
	
}

h1{
	font-family: 'Oswald', sans-serif;

}

h2{
	font-family: 'Oswald', sans-serif;
}

h3{
	font-family: 'Oswald', sans-serif;
}

p{
	font-family: 'Roboto Condensed', sans-serif;
}


#titleimg{
	width:100%;
	height:100%;
	position: relative;
}

#titleimage{
	width:100%;
}

#text {
	font-size:5em;
	text-align: center;
	color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 #subtitle{
 	font-size: 0.7em;
 }



img{

}